body {
	font: 14px Bookman Old Style, Sans-Serif;
	line-height: 24px;
	background: url(../images/textures/grey_wash_wall/grey_wash_wall.png);
	height:100%;
}

.header_div {
	border-radius:         35px;
	-moz-border-radius:    35px;
	-webkit-border-radius: 35px;
	border: 0px solid #000000;
	width: 870px;
	margin: 0 auto;
	background-image: url(../images/textures/fabric_of_squares_gray/fabric_of_squares_gray.png);
	padding: 10px;
}

.payload_div {
	border-radius:         0px 0px 10px 10px;
	-moz-border-radius:    0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border: 0px solid #000000;
	width: 800px;
	margin: 2px auto;
	background-image: url(../images/textures/fabric_of_squares_gray/fabric_of_squares_gray.png);
	padding: 10px;
	height:83vh;
}

h1 {
	margin: 0 auto;
	text-align: center;
	padding: 10px 0 20px 0;
	font-size: 48px;
	font-weight: 300;
	border-bottom: 1px solid #777;
}

h2 {
	margin: 0 auto;
	text-align: center;
	color: #777;
	padding: 10px 0 0 0;
	font-size: 20px;
	font-weight: 300;
	/* border-bottom: 1px solid #777; */
}

/* Language handling */
.lang {
  display:  none;
}

#en {
  display: block;
}

div[id*=en]:target ~ #ru {display: none;}
div[id*=ru]:target ~ #en {display: none;}

div:target {
  display: block;
}

.active_lang {
	color: #eee;
	font-weight: 900;
}

.switch_lang
{
	float:right;
}

.switch_lang a
{
    text-decoration: none;
    color:           #eee;
}
/* ------------------------ */

table {width: 100%;}
.description {width: 85%;}
p {margin: 0;}
caption {text-align: left; font-style: italic; font-weight: 900}
.my_place {font-style: italic;}
.period {color: #777}
.org_name a {text-decoration: none; color: black}